In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_excel('data_sources/laucntycur14.xlsx', header=4)
df

,LAUS Code,Code,Code.1,County Name/State Abbreviation,Period,Force,Employed,Unemployed,(%)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,26010,25391,619,2.4
2,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,96754,94510,2244,2.3
3,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,8656,8376,280,3.2
4,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,8655,8430,225,2.6
...,...,...,...,...,...,...,...,...,...
45065,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20 p,7961,7168,793,10
45066,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20 p,9250,8321,929,10
45067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45068,p = preliminary.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SOURCE: BLS, LAUS"
45069,Dash indicates that data are not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"December 3, 2020"

In [14]:
# rename columns to capture multirow columns
df = df.rename({'Code': 'FIPS_code_state','Code.1': 'FIPS_code_county', 'Force': 'Labor_force','(%)': 'Unemployment_rate%'}, axis=1)
df

,LAUS Code,FIPS_code_state,FIPS_code_county,County Name/State Abbreviation,Period,Labor_force,Employed,Unemployed,Unemployment_rate%
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,26010,25391,619,2.4
2,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,96754,94510,2244,2.3
3,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,8656,8376,280,3.2
4,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,8655,8430,225,2.6
...,...,...,...,...,...,...,...,...,...
45065,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20 p,7961,7168,793,10
45066,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20 p,9250,8321,929,10
45067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45068,p = preliminary.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SOURCE: BLS, LAUS"
45069,Dash indicates that data are not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"December 3, 2020"

In [15]:
# split county name and state name
df[['County', 'State']] = df['County Name/State Abbreviation'].str.split(', ', expand=True)
df

,LAUS Code,FIPS_code_state,FIPS_code_county,County Name/State Abbreviation,Period,Labor_force,Employed,Unemployed,Unemployment_rate%,County,State
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,26010,25391,619,2.4,Autauga County,AL
2,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,96754,94510,2244,2.3,Baldwin County,AL
3,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,8656,8376,280,3.2,Barbour County,AL
4,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,8655,8430,225,2.6,Bibb County,AL
...,...,...,...,...,...,...,...,...,...,...,...
45065,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20 p,7961,7168,793,10,Yabucoa Municipio,PR
45066,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20 p,9250,8321,929,10,Yauco Municipio,PR
45067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45068,p = preliminary.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SOURCE: BLS, LAUS",NaN,NaN
45069,Dash indicates that data are not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"December 3, 2020",NaN,NaN

In [16]:
# ensure states went through correctly (length should be 2)

In [17]:
# add column for 'preliminary'
df['Preliminary'] = np.where(df['Period'].str.contains(' p'),True,False)

# remove p's
df['Period'] = df['Period'].str.replace(' p','')

# remove rows in header and footer that are empty
df = df[1:-3]
df

,LAUS Code,FIPS_code_state,FIPS_code_county,County Name/State Abbreviation,Period,Labor_force,Employed,Unemployed,Unemployment_rate%,County,State,Preliminary
1,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,26010,25391,619,2.4,Autauga County,AL,False
2,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,96754,94510,2244,2.3,Baldwin County,AL,False
3,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,8656,8376,280,3.2,Barbour County,AL,False
4,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,8655,8430,225,2.6,Bibb County,AL,False
5,CN0100900000000,1.0,9.0,"Blount County, AL",Sep-19,25351,24763,588,2.3,Blount County,AL,False
...,...,...,...,...,...,...,...,...,...,...,...,...
45062,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",Oct-20,12543,11146,1397,11.1,Vega Baja Municipio,PR,True
45063,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",Oct-20,2386,2133,253,10.6,Vieques Municipio,PR,True
45064,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",Oct-20,6603,5969,634,9.6,Villalba Municipio,PR,True
45065,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20,7961,7168,793,10,Yabucoa Municipio,PR,True
45066,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20,9250,8321,929,10,Yauco Municipio,PR,True

In [28]:
# for each quantitative measure create a column to capture if there is a '-'. If there is then remove the dash and replace with a zero.  In this case a dash means that data was unavailable.

# Labor_force
df.loc[df['Labor_force']=='â€“', 'Labor_force_NA']=True
df.loc[df['Labor_force']!='â€“', 'Labor_force_NA']=False

# Employed
df.loc[df['Employed']=='â€“', 'Employed_NA']=True
df.loc[df['Employed']!='â€“', 'Employed_NA']=False

# Unemployed
df.loc[df['Unemployed']=='â€“', 'Unemployed_NA']=True
df.loc[df['Unemployed']!='â€“', 'Unemployed_NA']=False

# Unemployment_rate%
df.loc[df['Unemployment_rate%']=='â€“', 'Unemployment_rate%_NA']=True
df.loc[df['Unemployment_rate%']!='â€“', 'Unemployment_rate%_NA']=False

df.loc[df['Labor_force']=='â€“']
# df

,LAUS Code,FIPS_code_state,FIPS_code_county,County Name/State Abbreviation,Period,Labor_force,Employed,Unemployed,Unemployment_rate%,County,State,Preliminary,Labor_force_NA,Employed_NA,Unemployed_NA,Unemployment_rate%_NA
22456,CN7200100000000,72.0,1.0,"Adjuntas Municipio, PR",Mar-20,â€“,â€“,â€“,â€“,Adjuntas Municipio,PR,False,True,True,True,True
22457,CN7200300000000,72.0,3.0,"Aguada Municipio, PR",Mar-20,â€“,â€“,â€“,â€“,Aguada Municipio,PR,False,True,True,True,True
22458,CN7200500000000,72.0,5.0,"Aguadilla Municipio, PR",Mar-20,â€“,â€“,â€“,â€“,Aguadilla Municipio,PR,False,True,True,True,True
22459,CN7200700000000,72.0,7.0,"Aguas Buenas Municipio, PR",Mar-20,â€“,â€“,â€“,â€“,Aguas Buenas Municipio,PR,False,True,True,True,True
22460,CN7200900000000,72.0,9.0,"Aibonito Municipio, PR",Mar-20,â€“,â€“,â€“,â€“,Aibonito Municipio,PR,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25748,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",Apr-20,â€“,â€“,â€“,â€“,Vega Baja Municipio,PR,False,True,True,True,True
25749,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",Apr-20,â€“,â€“,â€“,â€“,Vieques Municipio,PR,False,True,True,True,True
25750,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",Apr-20,â€“,â€“,â€“,â€“,Villalba Municipio,PR,False,True,True,True,True
25751,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Apr-20,â€“,â€“,â€“,â€“,Yabucoa Municipio,PR,False,True,True,True,True
25752,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Apr-20,â€“,â€“,â€“,â€“,Yauco Municipio,PR,False,True,True,True,True

In [33]:
# remove dashes and replace with zeros (see block above)

# Labor_force
df['Labor_force'].replace({'â€“':'0'}, inplace=True)

# Employed
df['Employed'].replace({'â€“':'0'}, inplace=True)

# Unemployed
df['Unemployed'].replace({'â€“':'0'}, inplace=True)

# Unemployment_rate%
df['Unemployment_rate%'].replace({'â€“':'0'}, inplace=True)

print(df.loc[df['Labor_force']=='â€“'])
print(df.loc[df['Labor_force']=='0'])

Empty DataFrame
Columns: [LAUS Code, FIPS_code_state, FIPS_code_county, County Name/State Abbreviation, Period, Labor_force, Employed, Unemployed, Unemployment_rate%, County, State, Preliminary, Labor_force_NA, Employed_NA, Unemployed_NA, Unemployment_rate%_NA]
Index: []
             LAUS Code  FIPS_code_state  FIPS_code_county  \
22456  CN7200100000000             72.0               1.0
22457  CN7200300000000             72.0               3.0
22458  CN7200500000000             72.0               5.0
22459  CN7200700000000             72.0               7.0
22460  CN7200900000000             72.0               9.0
...                ...              ...               ...
25748  CN7214500000000             72.0             145.0
25749  CN7214700000000             72.0             147.0
25750  CN7214900000000             72.0             149.0
25751  CN7215100000000             72.0             151.0
25752  CN7215300000000             72.0             153.0

      County Name/State Abbreviation  Period Labor_force Employed Unemployed  \
22456         Adjuntas Municipio, PR  Mar-20           0        0          0
22457           Aguada Municipio, PR  Mar-20           0        0          0
22458        Aguadilla Municipio, PR  Mar-20           0        0          0
22459     Aguas Buenas Municipio, PR  Mar-20           0        0          0
22460         Aibonito Municipio, PR  Mar-20           0        0          0
...                              ...     ...         ...      ...        ...
25748        Vega Baja Municipio, PR  Apr-20           0        0          0
25749          Vieques Municipio, PR  Apr-20           0        0          0
25750         Villalba Municipio, PR  Apr-20           0        0          0
25751          Yabucoa Municipio, PR  Apr-20           0        0          0
25752            Yauco Municipio, PR  Apr-20           0        0          0

      Unemployment_rate%                  County State  Preliminary  \
22456                  0      Adjuntas Municipio    PR        False
22457                  0        Aguada Municipio    PR        False
22458                  0     Aguadilla Municipio    PR        False
22459                  0  Aguas Buenas Municipio    PR        False
22460                  0      Aibonito Municipio    PR        False
...                  ...                     ...   ...          ...
25748                  0     Vega Baja Municipio    PR        False
25749                  0       Vieques Municipio    PR        False
25750                  0      Villalba Municipio    PR        False
25751                  0       Yabucoa Municipio    PR        False
25752                  0         Yauco Municipio    PR        False

      Labor_force_NA Employed_NA Unemployed_NA Unemployment_rate%_NA
22456           True        True          True                  True
22457           True        True          True                  True
22458           True        True          True                  True
22459           True        True          True                  True
22460           True        True          True                  True
...              ...         ...           ...                   ...
25748           True        True          True                  True
25749           True        True          True                  True
25750           True        True          True                  True
25751           True        True          True                  True
25752           True        True          True                  True

[156 rows x 16 columns]

,LAUS Code,FIPS_code_state,FIPS_code_county,County Name/State Abbreviation,Period,Labor_force,Employed,Unemployed,Unemployment_rate%,County,State,Preliminary,Labor_force_NA,Employed_NA,Unemployed_NA,Unemployment_rate%_NA
1,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,26010,25391,619,2.4,Autauga County,AL,False,False,False,False,False
2,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,96754,94510,2244,2.3,Baldwin County,AL,False,False,False,False,False
3,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,8656,8376,280,3.2,Barbour County,AL,False,False,False,False,False
4,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,8655,8430,225,2.6,Bibb County,AL,False,False,False,False,False
5,CN0100900000000,1.0,9.0,"Blount County, AL",Sep-19,25351,24763,588,2.3,Blount County,AL,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45062,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",Oct-20,12543,11146,1397,11.1,Vega Baja Municipio,PR,True,False,False,False,False
45063,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",Oct-20,2386,2133,253,10.6,Vieques Municipio,PR,True,False,False,False,False
45064,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",Oct-20,6603,5969,634,9.6,Villalba Municipio,PR,True,False,False,False,False
45065,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20,7961,7168,793,10,Yabucoa Municipio,PR,True,False,False,False,False
45066,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20,9250,8321,929,10,Yauco Municipio,PR,True,False,False,False,False

In [18]:
# check data types (date should be formated as a date, all that can be numbers should be)
df.dtypes

LAUS Code                          object
FIPS_code_state                   float64
FIPS_code_county                  float64
County Name/State Abbreviation     object
Period                             object
Labor_force                        object
Employed                           object
Unemployed                         object
Unemployment_rate%                 object
County                             object
State                              object
Preliminary                          bool
dtype: object

In [35]:
# update data types
df.astype({'FIPS_code_state': 'int64',
    'FIPS_code_county':'int64',
    'Labor_force':'float64',
    'Employed':'float64',
    'Unemployed':'float64',
    'Unemployment_rate%':'float64'
    }).dtypes

LAUS Code                          object
FIPS_code_state                     int64
FIPS_code_county                    int64
County Name/State Abbreviation     object
Period                             object
Labor_force                       float64
Employed                          float64
Unemployed                        float64
Unemployment_rate%                float64
County                             object
State                              object
Preliminary                          bool
Labor_force_NA                     object
Employed_NA                        object
Unemployed_NA                      object
Unemployment_rate%_NA              object
dtype: object

In [ ]:
# map numbers for a specific time range