In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_excel('data_sources/laucntycur14.xlsx', header=4)
df

,LAUS Code,Code,Code.1,County Name/State Abbreviation,Period,Force,Employed,Unemployed,(%)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,26010,25391,619,2.4
2,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,96754,94510,2244,2.3
3,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,8656,8376,280,3.2
4,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,8655,8430,225,2.6
...,...,...,...,...,...,...,...,...,...
45065,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20 p,7961,7168,793,10
45066,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20 p,9250,8321,929,10
45067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45068,p = preliminary.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SOURCE: BLS, LAUS"
45069,Dash indicates that data are not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"December 3, 2020"

In [22]:
# rename columns to capture multirow columns
df = df.rename({'Code': 'FIPSCodeState','Code.1': 'FIPSCodeCounty', 'Force': 'LaborForce','(%)': 'UnemploymentRate%'}, axis=1)
df

,LAUS Code,FIPSCodeState,FIPSCodeCounty,County Name/State Abbreviation,Period,LaborForce,Employed,Unemployed,UnemploymentRate%
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,26010,25391,619,2.4
2,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,96754,94510,2244,2.3
3,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,8656,8376,280,3.2
4,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,8655,8430,225,2.6
...,...,...,...,...,...,...,...,...,...
45065,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20 p,7961,7168,793,10
45066,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20 p,9250,8321,929,10
45067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45068,p = preliminary.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SOURCE: BLS, LAUS"
45069,Dash indicates that data are not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"December 3, 2020"

In [23]:
# split county name and state name
df[['County', 'State']] = df['County Name/State Abbreviation'].str.split(', ', expand=True)
df

,LAUS Code,FIPSCodeState,FIPSCodeCounty,County Name/State Abbreviation,Period,LaborForce,Employed,Unemployed,UnemploymentRate%,County,State
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,26010,25391,619,2.4,Autauga County,AL
2,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,96754,94510,2244,2.3,Baldwin County,AL
3,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,8656,8376,280,3.2,Barbour County,AL
4,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,8655,8430,225,2.6,Bibb County,AL
...,...,...,...,...,...,...,...,...,...,...,...
45065,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20 p,7961,7168,793,10,Yabucoa Municipio,PR
45066,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20 p,9250,8321,929,10,Yauco Municipio,PR
45067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45068,p = preliminary.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SOURCE: BLS, LAUS",NaN,NaN
45069,Dash indicates that data are not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"December 3, 2020",NaN,NaN

In [24]:
# ensure states went through correctly (length should be 2)

In [25]:
# add column for 'preliminary'
df['Preliminary'] = pd.np.where(df['Period'].str.contains(' p'),True,False)

# remove p's
df['Period'] = df['Period'].str.replace(' p','')
df
# remove nan

,LAUS Code,FIPSCodeState,FIPSCodeCounty,County Name/State Abbreviation,Period,LaborForce,Employed,Unemployed,UnemploymentRate%,County,State,Preliminary
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,26010,25391,619,2.4,Autauga County,AL,False
2,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,96754,94510,2244,2.3,Baldwin County,AL,False
3,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,8656,8376,280,3.2,Barbour County,AL,False
4,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,8655,8430,225,2.6,Bibb County,AL,False
...,...,...,...,...,...,...,...,...,...,...,...,...
45065,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20,7961,7168,793,10,Yabucoa Municipio,PR,True
45066,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20,9250,8321,929,10,Yauco Municipio,PR,True
45067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
45068,p = preliminary.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SOURCE: BLS, LAUS",NaN,NaN,True
45069,Dash indicates that data are not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"December 3, 2020",NaN,NaN,True

In [15]:
# check data types (date should be formated as a date, all that can be numbers should be)

In [ ]:
# map numbers for a specific time range