In [1]:
import pandas as pd

In [5]:
# pull in election data
df_pres = pd.read_csv('pres-elect.csv')
df_pres

,Unnamed: 0,year,fips,state,state_po,county,office,candidate,party,candidatevotes,...,democrat_candidate,democrat_votes,republican_candidate,republican_votes,green_candidate,green_votes,other_candidate,other_votes,dem_share,rep_share
0,12623,2016,10001,Delaware,DE,Kent,President,Hillary Clinton,democrat,33351.0,...,Hillary Clinton,33351.0,Donald Trump,36991.0,NaN,NaN,Other,4256.0,0.447076,0.495871
1,12624,2016,10003,Delaware,DE,New Castle,President,Hillary Clinton,democrat,162919.0,...,Hillary Clinton,162919.0,Donald Trump,85525.0,NaN,NaN,Other,13947.0,0.620902,0.325945
2,12625,2016,10005,Delaware,DE,Sussex,President,Hillary Clinton,democrat,39333.0,...,Hillary Clinton,39333.0,Donald Trump,62611.0,NaN,NaN,Other,4064.0,0.371038,0.590625
3,12626,2016,1001,Alabama,AL,Autauga,President,Hillary Clinton,democrat,5936.0,...,Hillary Clinton,5936.0,Donald Trump,18172.0,NaN,NaN,Other,865.0,0.237697,0.727666
4,12627,2016,1003,Alabama,AL,Baldwin,President,Hillary Clinton,democrat,18458.0,...,Hillary Clinton,18458.0,Donald Trump,72883.0,NaN,NaN,Other,3874.0,0.193856,0.765457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3150,15773,2016,9007,Connecticut,CT,Middlesex,President,Hillary Clinton,democrat,45357.0,...,Hillary Clinton,45357.0,Donald Trump,38867.0,NaN,NaN,Other,4400.0,0.511791,0.438561
3151,15774,2016,9009,Connecticut,CT,New Haven,President,Hillary Clinton,democrat,205609.0,...,Hillary Clinton,205609.0,Donald Trump,159048.0,NaN,NaN,Other,14349.0,0.542495,0.419645
3152,15775,2016,9011,Connecticut,CT,New London,President,Hillary Clinton,democrat,62278.0,...,Hillary Clinton,62278.0,Donald Trump,54058.0,NaN,NaN,Other,7192.0,0.504161,0.437617
3153,15776,2016,9013,Connecticut,CT,Tolland,President,Hillary Clinton,democrat,38506.0,...,Hillary Clinton,38506.0,Donald Trump,34194.0,NaN,NaN,Other,4724.0,0.497339,0.441646
3154,15777,2016,9015,Connecticut,CT,Windham,President,Hillary Clinton,democrat,21792.0,...,Hillary Clinton,21792.0,Donald Trump,25747.0,NaN,NaN,Other,3284.0,0.428782,0.506601

In [7]:
# pull in unemployement/labor data
df_unemp = pd.read_csv('unemployment.csv')
df_unemp

,Unnamed: 0,LAUS Code,FIPS_code_state,FIPS_code_county,County Name/State Abbreviation,Period,Labor_force,Employed,Unemployed,Unemployment_rate%,County,State,Preliminary,Labor_force_NA,Employed_NA,Unemployed_NA,Unemployment_rate%_NA,fips
0,38629,CN0100100000000,1,1,"Autauga County, AL",Sep-20,25403.0,24049.0,1354.0,5.3,Autauga County,AL,False,False,False,False,False,1001
1,38630,CN0100300000000,1,3,"Baldwin County, AL",Sep-20,97719.0,92203.0,5516.0,5.6,Baldwin County,AL,False,False,False,False,False,1003
2,38631,CN0100500000000,1,5,"Barbour County, AL",Sep-20,9595.0,8750.0,845.0,8.8,Barbour County,AL,False,False,False,False,False,1005
3,38632,CN0100700000000,1,7,"Bibb County, AL",Sep-20,8655.0,8073.0,582.0,6.7,Bibb County,AL,False,False,False,False,False,1007
4,38633,CN0100900000000,1,9,"Blount County, AL",Sep-20,24703.0,23688.0,1015.0,4.1,Blount County,AL,False,False,False,False,False,1009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3214,41843,CN7214500000000,72,145,"Vega Baja Municipio, PR",Sep-20,12794.0,11165.0,1629.0,12.7,Vega Baja Municipio,PR,False,False,False,False,False,72145
3215,41844,CN7214700000000,72,147,"Vieques Municipio, PR",Sep-20,2503.0,2211.0,292.0,11.7,Vieques Municipio,PR,False,False,False,False,False,72147
3216,41845,CN7214900000000,72,149,"Villalba Municipio, PR",Sep-20,6721.0,6064.0,657.0,9.8,Villalba Municipio,PR,False,False,False,False,False,72149
3217,41846,CN7215100000000,72,151,"Yabucoa Municipio, PR",Sep-20,8043.0,7198.0,845.0,10.5,Yabucoa Municipio,PR,False,False,False,False,False,72151
3218,41847,CN7215300000000,72,153,"Yauco Municipio, PR",Sep-20,9251.0,8199.0,1052.0,11.4,Yauco Municipio,PR,False,False,False,False,False,72153

In [8]:
# should I join this data?  The time periods don't really line up.