In [24]:
# this population dataset will be pretty simple, just population per county per period
import pandas as pd

# for display within the table
pd.options.display.max_rows = 50

In [25]:
# pull in data set
df = pd.read_csv('../data_sources/census_population_county.csv',converters={'STATE':str,'COUNTY':str}, encoding='latin-1')
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,01,000,Alabama,Alabama,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,01,001,Alabama,Autauga County,54571,54597,54773,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,01,003,Alabama,Baldwin County,182265,182265,183112,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,01,005,Alabama,Barbour County,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,01,007,Alabama,Bibb County,22915,22915,22870,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,037,Wyoming,Sweetwater County,43806,43806,43574,...,-17.605427,0.502513,15.035735,-4.614071,-13.140225,-13.762031,-18.484164,-23.515727,-18.743773,-17.065527
3189,50,4,8,56,039,Wyoming,Teton County,21294,21298,21296,...,-1.583464,-2.575509,1.905293,23.259519,12.508872,4.670450,1.253214,-0.171608,-12.432212,1.797445
3190,50,4,8,56,041,Wyoming,Uinta County,21118,21121,21089,...,-9.181105,-18.196975,-4.487730,-10.870861,-15.033634,-10.484550,-11.485101,-18.923455,-13.554993,-9.181105
3191,50,4,8,56,043,Wyoming,Washakie County,8533,8528,8530,...,-7.652085,-12.839390,-3.084589,-1.307811,-18.938032,0.000000,-15.204038,-15.950541,-17.246806,-8.289759
3192,50,4,8,56,045,Wyoming,Weston County,7208,7208,7198,...,0.000000,-9.065551,-10.549265,6.191515,0.420345,9.201171,0.693097,-36.227798,-6.910452,2.599090

In [26]:
df.dtypes

SUMLEV           int64
REGION           int64
DIVISION         int64
STATE           object
COUNTY          object
                ...
RNETMIG2015    float64
RNETMIG2016    float64
RNETMIG2017    float64
RNETMIG2018    float64
RNETMIG2019    float64
Length: 164, dtype: object

In [27]:
df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       ...
       'RDOMESTICMIG2019', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015', 'RNETMIG2016', 'RNETMIG2017',
       'RNETMIG2018', 'RNETMIG2019'],
      dtype='object', length=164)

In [28]:
# keep only the population estimate data
df2 = df[['STATE', 'COUNTY', 'STNAME', 'CTYNAME','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015','POPESTIMATE2016','POPESTIMATE2017','POPESTIMATE2018','POPESTIMATE2019']]
df2

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,01,000,Alabama,Alabama,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,01,001,Alabama,Autauga County,54773,55227,54954,54727,54893,54864,55243,55390,55533,55869
2,01,003,Alabama,Baldwin County,183112,186558,190145,194885,199183,202939,207601,212521,217855,223234
3,01,005,Alabama,Barbour County,27327,27341,27169,26937,26755,26283,25806,25157,24872,24686
4,01,007,Alabama,Bibb County,22870,22745,22667,22521,22553,22566,22586,22550,22367,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56,037,Wyoming,Sweetwater County,43574,43986,45002,45157,44948,44719,44222,43464,42858,42343
3189,56,039,Wyoming,Teton County,21296,21414,21624,22315,22773,23047,23234,23384,23269,23464
3190,56,041,Wyoming,Uinta County,21089,20896,20996,20951,20822,20763,20682,20431,20292,20226
3191,56,043,Wyoming,Washakie County,8530,8449,8409,8413,8273,8278,8165,8010,7877,7805
3192,56,045,Wyoming,Weston County,7198,7142,7077,7136,7138,7208,7220,6968,6924,6927

In [32]:
# add fips column
df2['fips'] = df2['STATE']+df2['COUNTY']
df2

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,fips
0,01,000,Alabama,Alabama,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185,01000
1,01,001,Alabama,Autauga County,54773,55227,54954,54727,54893,54864,55243,55390,55533,55869,01001
2,01,003,Alabama,Baldwin County,183112,186558,190145,194885,199183,202939,207601,212521,217855,223234,01003
3,01,005,Alabama,Barbour County,27327,27341,27169,26937,26755,26283,25806,25157,24872,24686,01005
4,01,007,Alabama,Bibb County,22870,22745,22667,22521,22553,22566,22586,22550,22367,22394,01007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56,037,Wyoming,Sweetwater County,43574,43986,45002,45157,44948,44719,44222,43464,42858,42343,56037
3189,56,039,Wyoming,Teton County,21296,21414,21624,22315,22773,23047,23234,23384,23269,23464,56039
3190,56,041,Wyoming,Uinta County,21089,20896,20996,20951,20822,20763,20682,20431,20292,20226,56041
3191,56,043,Wyoming,Washakie County,8530,8449,8409,8413,8273,8278,8165,8010,7877,7805,56043
3192,56,045,Wyoming,Weston County,7198,7142,7077,7136,7138,7208,7220,6968,6924,6927,56045

In [34]:
# export final data to csv
# we will need to clean more in js (we could decide to do more cleaning in python instead, but either way there will need to be some js config)
df2.to_csv('../cleaned_data/pop_data.csv', index='false')